@{
  Layout = "_Layout";
}
@model Library.Models.Book

<h1>Add Author to Book</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Add Author">
}